rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

     match /shops/{shop} {
      // Applies to writes to nonexistent documents
      allow create: if request.auth != null;
      // Applies to delete operations
      allow delete: if request.auth != null;
            allow update: if true;

    }
    match /{document=**} {
      allow read: if true;
    }
  }
}