@import "@/share/themes/colors.scss";

.container {
  font-family: Didot, serif;
  text-align: center;
  justify-content: centers;
  color: $secondary-color;
  font-size: 20px;
  margin-top: 200px;
}

.content {
  align-items: center;
  width: 100%;
  margin: 5% 0;
}

.list-box {
  align-items: center;
  margin: 5% 5%;
}
