@import "@/share/themes/colors.scss";

.presentation {
  text-align: center;
  font-family: Didot, serif;
  padding: 24px;
  background-color: $tertiary-color;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: solid 1px #a4a0a0;
  border-radius: 10px;
  margin: 20px;
}
.subtitle {
  font-size: 18px;
}
.orange {
  color: $primary-color;
}
