@import "@/share/themes/colors.scss";

.text {
  font-family: Didot, serif;
  font-style: italic;
  text-align: center;
  font-weight: 500px;
  font-size: 50px;
  color: #dd9965;
}
.footer-buttons-modal {
  display: flex;

  justify-content: center;
}

.footer-button-box {
  margin-right: 5%;
}

.modal-content {
  font-family: Didot, serif;
  color: $secondary-color;
  text-align: center;
  font-size: 18px;
}
.text {
  font-family: Didot, serif;
  font-style: italic;
  text-align: center;
  font-weight: 500px;
  font-size: 23px;
  color: #ac7348;
}

.container {
  height: 90%;
  &:disabled {
    background-color: rgb(196, 196, 196);
  }
}
