@import "@/share/themes/colors.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tertiary-color;
}
.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  border: solid 0.5px rgb(164, 164, 164);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}
.modalContent > * {
  margin-top: 10px;
  margin-bottom: 15px;
}

.button {
  align-items: center;
  display: flex;
  justify-content: center;
}
.error {
  color: red;
  font-size: 15px;
  text-align: center;
}
