@import "@/share/themes/colors.scss";

.input {
  font-family: Lato;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  background: #ffffffc5;
  color: $secondary-color;
  font-size: 18px;
  padding: 7px;
}
.text {
  font-family: Didot, serif;

  color: $secondary-color;
  font-size: 20px;
}
.sm {
  width: 70px;
  height: 30px;
}

.md {
  width: 200px;
  height: 30px;
}

.lg {
  width: 280px;
  height: 30px;
}
