@import "@/share/themes/colors.scss";

.text {
  font-family: Graphik-Medium;
  text-align: center;
  font-weight: 500px;
  font-size: 40px;
  color: $secondary-color;
}
.content {
  display: grid;
  justify-content: center;
  align-items: center;
}
